<h1>Sign In</h1>
<div class="container">
  <div class="new_post_container">
  <%= form_for @user, url: session_path, method: :post do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %><br>
    <%= f.password_field :password%>
    <br>
    <%= f.submit "Submit", :class => 'submit_button'%>
  <% end %>
  </div>


<h1> Not a member? Then Sign Up! </h1>





</div>
