<% if @current_user %>
<h1> SHARE YOUR RAGE! </h1>
<div class="big_form">
<div class="new_post_container">
  <!-- mms: is you used the object here, rails would take care of create/update
  form_for @post do |f| -->
<%= form_for :post, url: posts_path do |f| %>

  <%= f.label "On which metro-line did this occur?"%><br>
    <!-- mms: lots of duplication here.  I recommend a PORO (Plain-ole-ruby-object) model.
       Maybe Metro.lines (which returns an array of colors?) -->
    <!-- mms: this same code is in postform -->
    <ul class="form_color_ul">
      <li class="circle_list"><div class="silver circle">SV</div></li>
      <li class="circle_list"><div class="blue circle">BL</div></li>
      <li class="circle_list"><div class="green circle">GR</div></li>
      <li class="circle_list"><div class="yellow circle">YL</div></li>
      <li class="circle_list"><div class="orange circle">OR</div></li>
      <li class="circle_list"><div class="red circle">RD</div></li>
    </ul>
  </br>
  <div class="form_color_container">
      <%= f.radio_button :color, "red", :class => 'red_radio'%>
      <%= f.radio_button :color, "orange", :class => 'orange_radio' %>
      <%= f.radio_button :color, "yellow", :class => 'yellow_radio' %>
      <%= f.radio_button :color, "green", :class => 'green_radio' %>
      <%= f.radio_button :color, "blue", :class => 'blue_radio' %>
      <%= f.radio_button :color, "silver", :class => 'silver_radio' %>
  </div>

  <p>
    <%= f.label :title%><br>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label "Your rage goes here!" %><br>
    <%= f.text_area :text, :class => 'post_field' %>
  </p>

  <p>
    <%= f.submit 'Submit!', :class => 'submit_button'%>
  </p>
<% end %>

<p class="back"> <%= link_to 'Back', posts_path %> </p>

<!-- When a form is submitted, the fields of the form are sent to Rails as parameters. These parameters can then be referenced inside the controller actions, typically to perform a particular task.  -->
</div>
</div>


<!-- Media Queri Form !-->
<div class="small_form">
  <div class="new_post_container">
    <%= form_for :post, url: posts_path do |f| %>

    <%= f.label "On which metro-line did this occur?"%><br>
    <div class="form_color_container">

      <div class="yellow circle">YL</div>
      <div class="orange circle">OR</div>
      <div class="red circle">RD</div>

      <div class="radio">
        <%= f.radio_button :color, "red", :class => 'red_radio'%>
        <%= f.radio_button :color, "orange", :class => 'orange_radio' %>
        <%= f.radio_button :color, "yellow", :class => 'yellow_radio' %>
      </div>

      <div class="silver circle">SV</div>
      <div class="blue circle">BL</div>
      <div class="green circle">GR</div>

      <div class="radio">
        <%= f.radio_button :color, "green", :class => 'green_radio' %>
        <%= f.radio_button :color, "blue", :class => 'blue_radio' %>
        <%= f.radio_button :color, "silver", :class => 'silver_radio' %>
      </div>
    </div>

<p>
  <%= f.label :title%><br>
  <%= f.text_field :title%>
</p>

<p>
  <%= f.label "Your rage goes here!" %><br>
  <%= f.text_area :text, :class => 'post_field' %>
</p>

<p>
  <%= f.submit 'Submit!', :class => 'submit_button'%>
</p>
<% end %>

<p class="back"> <%= link_to 'Back', posts_path %> </p>

mms: watch you indentation.  Why are these at the same level?
</div>
</div>
<% end %>
