<h1> EVERY COMPLAINT MATTERS! </h1>
<h2 class="postcolorguide"> *The post's border color refers to the metro line color </h2>

<div class="container">
  <div class = "postbutton"><%= link_to "Post a Complaint", new_post_path %>
  </div>


  <% @posts.reverse.each do |post| %>
  <%= raw post_color(post) %>
  <div class = "postcontainer">
    <p class="posttitle"><%= post.title %></p>
    <p class="date">Posted by Cat at <%=post.updated_at %></p>
    <p><%= post.text %></p>
      <ul>
        <li> <%= link_to 'Comment', post_path(post)%></li>
        <li> <%= link_to 'Edit', edit_post_path(post)%></li>
        <li> <%= link_to 'Delete', post_path(post),
                  method: :delete, data: {confirm: 'Are you sure?'} %></li>
      </ul>
  </div>
</div>
    <% end %>



</div>
