<h1> EVERY COMPLAINT MATTERS! </h1>
<h2 class="postcolorguide"> *The post's border color refers to the metro line color </h2>

<div class="container">
  <% if @current_user %>
  <div class = "postbutton"><%= link_to "Post a Complaint", new_post_path %>  </div>
  <% end %>


<!-- POST CONTAINER !-->
  <% @posts.reverse.each do |post| %>
  <%= raw post_color(post) %>
  <div class = "postcontainer">
    <p class="posttitle"><%= post.title %></p>
    <p class="date">Posted by <%=post.user.username%> at <%=post.updated_at %></p>
    <p><%= post.text %></p>
<!-- POST (Comment, Delete, edit) button !-->
    <ul>
      <% if @current_user%>
      <% if @current_user.password == post.user.password%>
      <li> <%= link_to 'Edit', edit_post_path(post)%></li>
      <li> <%= link_to 'Delete', post_path(post),
      method: :delete, data: {confirm: 'Are you sure?'} %></li>
      <% end %>
      <% end %>
      <% if @current_user%>
      <li> <%= link_to 'Comment', post_path(post)%></li>
    </ul>
    <% end %>
  </div>
</div>

<!-- COMMENT CONTAINER !-->
<% post.comments.each do |comment| %>
<div class = "commentcontainer">
  <p class="commenter"> Comment made by <%=comment.user.username %> at <%=comment.updated_at %></p>
  <p> <%=comment.text %></p>
  <% if @current_user %>
  <p class="delete_comment"> <%= link_to 'Delete', [comment.post, comment],
  method: :delete, data: {confirm: 'Are you sure?'} %></p>
  <% end %>
</div>
<% end %>

<!-- COMMENT FORM !-->
<% if @current_user %>
<%= form_for([post, post.comments.build]) do |f| %>
<p>
  <%= f.text_field :text, :placeholder => "Type a comment and press enter to submit.", :class => 'comment_field'%>
</p>
<% end %>
<% end %>

<% end %>



</div>
